@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@300;400;500;600;700&display=swap");
@import "@gi-org-pl/athena/athena.css";

:root {
  --font-family: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --font-family-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-family);
}
